:root {
    --bg-body : #181419;
    --bg-nav : #db4648;
}

/*
hola soy un comentario
*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    background-color: var(--bg-body);
    font-family: "Nunito", sans-serif;
    color: #FFF;
}

header {
    position:sticky;
    top:0;
}

nav {
    background-color: var(--bg-nav);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} 

#nav-links {
    display: flex;
   
    list-style: none; /* saca los puntos de la lista */ 
    gap: 30px; ; /* separacion entre los itemS*/
    
}

#nav-links li a {
text-decoration: none;/* se saca el subrrayado */
color:inherit;/* se saca el azul asi toma el color del bco (el definido que es bco) */
padding: 10px;


}

h2 {
    font-size: 3em; 
}

img {
    width: 35vw;
}

#banner {
    background-image: url(../img/banner-bg.jpg);
    height: 85vh;
}

#texto-banner {
    border: 15px solid #FFFF;
    margin: 0 auto;
    width:70vw;
    min-width: 500px;
    padding:50px
}