:root {
    --bg-body:rgb(94, 255, 0);
    --bg-var:rgb(185, 165, 110);

}

* {
 margin: 0;
 padding: 0;
}

nav {
    background-color: var(--bg-var);
    height: 30 px;
}

header{
    /*border: rgb(94, 255, 0);*/
    border: var(--bg-body);
    border-radius: 2%;
    margin:blue;
    margin-bottom: 11%;
    margin-top: 8%;
    /* background-color: blueviolet; */
    background-image: url(img/mario.jpg); 
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   /* background-attachment: fixed;*/
    margin-bottom: 10%;
}
main{
    margin-top: 8%;
    margin-bottom: 10%;
    background-color: aqua;
}

footer{
    margin-top: 8%;
    margin-bottom: 10%;
    background-color: blueviolet;
    height: 300px;
}


body{
    font-family: "Workbench", sans-serif;
}
p{
   
    
   color: #d11212 ;
    font-size: 1em ;
}

#tendencias{

    color: darkgreen;

}



a{
font-family: cursive;
color: blue;
font-size: large;
}


.footer {

    font-size: xx-large ;
}

img{
    /* width:  58vh; */
    width: 35vw ;
    /* width: 50px; */
    position: static;
}

/* https://fonts.google.com/ */

/* como instalar ::https://www.youtube.com/watch?v=otnkZyKGWZw */

/* .workbench-<uniquifier> {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  }
   */

/* .container{
   
    font-size: xx-large ;
} */

/* .section_container {
    border: 5px solid black;
    background-color: #d11212;
    width: 250px;
    height: 250px;
   } */

/* body.pepe{
    background-color: var(--bg-body);
} */

/* .section_container {
     border: 5px solid black;
    background-color: #6512d1; 
    width: 25px;
    height: 25px;
   } */
    
.section_container{
    border: 5px solid black;
    background-color: #d11212;
    width: 450px;
    height: 450px;
    position: relative;
} 

.section_container div{
    border: 5px solid rgb(18, 170, 30); 
    background:rgb(22, 62, 192);
   
    font: 1em sans-serif ;
   
    width: 100px; 
    height: 100px;
  
    /* centrar */

    position: absolute;
    margin: auto;

    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    /* https://www.youtube.com/watch?v=PSwlAuRbv_A */
   
} 


