/* https://www.youtube.com/watch?v=iTjkiI8QQsM*/
/* 24 minutos */

.grid .container {

    background-color: lightsalmon;
    border: black solid 1px;
    border-radius: 10px;
    display: grid;
   
    gap: 16px;
    grid-auto-rows: 50px;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(3, 50px);
    height: 400px;
    width: 500px;

    justify-items: center;
    align-items: center;

    
    place-content:center ;

    /* alinear la cuadricula al contenido */

}



.grid .container div {
    background-color: lightblue;
    border: blue solid 2px;
    border-radius: 6px;


}

.grid .container div:first-child {
    background-color: rgb(34, 189, 42);
    border: 3px solid rgb(179, 98, 159);
    justify-self: start; 
    align-self: self-end;
   
 


}


.grid .container div:nth-child(2) {
    background-color: seagreen;
    border: solid 3px blue;
    /* justify-self: end; */



}

