/* https://www.youtube.com/watch?v=iTjkiI8QQsM*/
/* 24 minutos */

.grid .container {

    background-color: lightsalmon;
    border: black solid 3px;
    border-radius: 10px;
    display: grid;
    /* grid-template-columns:  50% 100px auto 10vw; */
    /* grid-template-columns:  1fr 2fr; fracciones */
    /* grid-template-columns:  2fr 4fr 1fr;->100 /6s  */
    grid-template-columns: minmax(100px, 1fr) repeat(2, 1fr);
    /* 1fr  1fr  1fr  */
    grid-template-rows: repeat(3, 100px);
    /* 100px  100px 100px    */
    /* grid-template-rows: 100px; /*solo afecta la primera fila si esta el  grid-auto-rows: 50px */


    /* grid-auto-rows: 50px /* cada vez que se genera una columna que tenga ese largo*/
    /* `->100 /6s  */
}

.grid .container div {
    background-color: lightblue;
    border: blue solid 2px;
    border-radius: 6px;

}

div {
    display: grid;
grid-template-columns: minmax(200px,1fr) 5fr;
}

aside {
    border: 1px solid red;
    height: 100vh;


}

main{
    border: 1px solid blue ;
}

body {
    margin:0 ;
}

img {
    width: 100%;
    height: auto;
}

main div {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 32px;  /* gap : 16px 32px  o  gap : 16px*/ 

}
/* responsibe */
@media(width > 750px ){
    main div {
    grid-template-columns: repeat(2,1fr);}
}

@media(width > 1000px ){
    main div {
    grid-template-columns: repeat(3,1fr);}
}
;