/* https://www.youtube.com/watch?v=iTjkiI8QQsM*/
/* 24 minutos */

.grid .container {

    background-color: lightsalmon;
    border: black solid 3px;
    border-radius: 10px;
    display: grid;
    /* grid-template-columns:  50% 100px auto 10vw; */
    /* grid-template-columns:  1fr 2fr; fracciones */
    /* grid-template-columns:  2fr 4fr 1fr;->100 /6s  */
    grid-template-columns:  2fr 4fr 1fr;->100 /6s 
}

.grid .container div {
    background-color: lightblue;
    border: blue solid 2px;
    border-radius: 6px;
    
}

;